APScheduler==3.11.2
asgiref==3.11.0
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==5.2.10
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.11
Faker==40.1.0
greenlet==3.3.0
idna==3.11
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mysqlclient==2.2.7
packaging==25.0
playwright==1.57.0
pyee==13.0.0
PyJWT==2.10.1
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
python-dotenv==1.2.1
pytz==2025.2
beautifulsoup4==4.14.3


[
    {
        "id": 4,
        "tag": ["JOB NOT COMPLETED", ""],
        "customerName": "Pinnacle Estates",
        "workOrderAddress": "3302 Summit Dr, Auburn, CA 95602",
        "workOrderSummary": "Pump replacement partial – needs follow-up visit",
        "workOrderLink": "",
        "quoteLink": "",
        "technicianName": "Leila Morin",
        "status": "In Progress",
          "wo": "wo 14723"
        "note": "Reschedule requested for Monday morning",
        "completedNote": "",
        "createdAt": "2025-03-12T11:15:00Z",
        "viewedAt": "2025-03-12T12:00:00Z",
        "deleted_by": "Admin User",
        "deleted_by_email": "admin@example.com",
        "deleted_date": "2025-03-13T09:30:00Z",
        "is_deleted": true
    }
]



create new django app and models based on this data. and add user seen models. appname work_order, model name WorkOrder, 

create  CRUD oparation serializers, classbase videw, get opration add all field filter.